.erro{
	@extend .col-12;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	flex-wrap: wrap;
	height: 600px;
	background: $marrom4;
	.a{
		@extend .col-12;
		font-family: 'Raleway';
		font-size: 60px;
		font-weight: bold;
		color: $marrom1;
	}
	.b{
		@extend .col-12;
		font-family: 'Raleway';
		font-size: 30px;
		font-weight: lighter;
	}
}