	
	.screen-reader-response{
	 display: none;
	}

	.contato{
		@extend .col-12;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin: 20px 0;
		h2{
			@extend .col-12;
			color: $marrom1;
			font-family: 'Cookie', cursive;
			text-align: center;
			margin: 20px 0;
			font-size: 35px;
			@media(min-width: map-get($grid-breakpoints,md)){
				font-size: 70px;
			}
		}
		.item{
			@extend .col-12;
			padding: 0 5px;
		}
		::placeholder { 
			color: $marrom1;
			opacity: 1; 
		}

		:-ms-input-placeholder { 
			color: $marrom1;
		}

		::-ms-input-placeholder {
			color: $marrom1;
		}
		.wpcf7-not-valid-tip, .wpcf7-response-output, .wpcf7-validation-errors{
			font-size: 12px;
			color: $marrom4;
			@extend .col-12;
			display: block;
		}
		.wpcf7-submit{
			cursor: pointer;
			color: $marrom2;
			font-weight: bold;
			&:hover{
				background: $marrom2 !important;
				transition: 0.3s ease;
				-webkit-box-shadow: 0px 13px 35px -5px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 13px 35px -5px rgba(0,0,0,0.75);
				box-shadow: 0px 13px 35px -5px rgba(0,0,0,0.75);
				color: $marrom4;
			}
		}
		.holder{
			display: flex;
			align-items: center;
			justify-content: center;padding: 5px;
			.item{
				input, textarea{
					@extend .col-12;
					background: $marrom4;
					font-family: 'Raleway';
					border-radius: 15px;
					border: none;
					outline: none;
				}
			}
		}
	}