.novidades{
	padding: 8px;
	background: $marrom1;
	font-size: 18px;
	.titulo{
		@extend .col-12;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-family: 'Raleway';
		color: $marrom4;
		font-weight: bold;
		@media(min-width: map-get($grid-breakpoints,md)){
			@include make-col(4);
		}
	}
	.formulario{
		@extend .col-12;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		::placeholder { 
			color: $marrom1;
			opacity: 1; 
		}

		:-ms-input-placeholder { 
			color: $marrom1;
		}

		::-ms-input-placeholder {
			color: $marrom1;
		}
		@media(min-width: map-get($grid-breakpoints,md)){
			@include make-col(8);
		}
		.wpcf7-not-valid-tip, .wpcf7-response-output, .wpcf7-validation-errors{
			font-size: 12px;
			color: $marrom4;
			@extend .col-12;
			display: block;
		}
		.wpcf7-submit{
			cursor: pointer;
			color: $marrom2;
			font-weight: bold;
			&:hover{
				background: $marrom2 !important;
				transition: 0.3s ease;
				-webkit-box-shadow: 0px 13px 35px -5px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 13px 35px -5px rgba(0,0,0,0.75);
				box-shadow: 0px 13px 35px -5px rgba(0,0,0,0.75);
				color: $marrom4;
			}
		}
		.holder{
			display: flex;
			align-items: center;
			justify-content: center;padding: 5px;
			.item{
				input{
					@extend .col-12;
					background: $marrom4;
					font-family: 'Raleway';
					border-radius: 15px;
					border: none;
					outline: none;
				}
			}
		}
	}
}
.footer{
	@extend .col-12;
	background: url('../img/bg-footer.jpg') no-repeat center top;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 25px 0;
	img{
		height: 120px;
	}
}
.footer-end {
	@extend .col-12;
	background: $rosa;
	padding: 10px 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	-webkit-box-shadow: 0px -1px 5px -1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px -1px 5px -1px rgba(0,0,0,0.2);
	box-shadow: 0px -1px 5px -1px rgba(0,0,0,0.2);
	.item {
		color: $marrom1;
		font-weight: bold;
		text-align: center;
		@extend .col-12;
		
		&:nth-child(2) {
			margin-top: 15px;
		}
		a {
			margin-right: 5px;
		}
	}


	@media(min-width: map-get($grid-breakpoints,md)){
		padding: 20px 10px; 
		.item {
			&:nth-child(1) {
				@include make-col(8);
				text-align: left;
			}
			&:nth-child(2) {
				@include make-col(4);
				text-align: right;
				margin-top: 0;
			}
		}
	}
}
.whats{
	position: fixed;
	right: 5px;
	bottom: 20%;
	z-index: 100;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	a{
		background: $marrom1;
		color: white;
		font-size: 35px;
		line-height: 0;
		z-index: 1001;
		padding: 5px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		-webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
		box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
		@media(min-width: map-get($grid-breakpoints,md)){
			padding: 10px;
		}
		&:hover{
			text-decoration: none;
			color: white;
			background: $marrom2;
		}
	}
	p{
		margin: 0;
		@extend .col-12;
		color: white;
		text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
		-webkit-touch-callout: none; 
		-webkit-user-select: none; 
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none; 
		user-select: none; 
		font-family: 'Raleway';
		display: none;
		@media(min-width: map-get($grid-breakpoints,md)){
			display: block;
		}
	}
}