
.menu{
	position: fixed;
	z-index: 1000;
	@extend .col-12;
	transition: .6s ease;
	padding: 20px 0;
	.opening{
		display: block !important;
		flex: 0 0 100% !important;
		max-width: 100% !important;
		background: $marrom1;
		position: fixed;
		height: 100%;
		width: 100%;
		padding: 40px 15px;
		ul{
			display: block !important;
			li{
				margin-bottom: 10px !important;
			}
		}
	}
	@media(min-width: map-get($grid-breakpoints,md)){
		padding: 20px 0;
	}
	.logo{
		@media(min-width: map-get($grid-breakpoints,md)){
			@include make-col(2);
		}
		img{
			height: 50px;
			@media(min-width: map-get($grid-breakpoints,md)){
				height: auto;
			}
		}
	}
	.itens-menu{
		display: none;
		ul{
			margin: 0;
			padding: 0;
			display: flex;
			li{
				font-family: 'Raleway', sans-serif;
				a{
					color: white;
					padding: 0 15px;
					border: 1px solid transparent;
					&:hover{
						text-decoration: none;
						border: 1px solid white;
						transition: 0.6s ease;
						border-radius: 15px;
					}
				}
			}
		}
		@media(min-width: map-get($grid-breakpoints,md)){
			@include make-col(9);
			align-items: center;
			justify-content: flex-end;
			padding-right: 40px;
		}
		@media(min-width: map-get($grid-breakpoints,lg)){
			display: flex
		}
	}
	.redes{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 25px;
		@media(min-width: map-get($grid-breakpoints,md)){
			@include make-col(1);
			display: flex;
			align-items: center;
			margin-left: 80px;
		}
		@media(min-width: map-get($grid-breakpoints,lg)){
			margin-left: 0;
		}
		i{
			color: white;
			font-size: 20px;
			margin-left: 10px;
		}
		.fa-whatsapp{
			&:hover{
				transition: 0.3s ease;
				color: $verde;
			}
		}
		.fa-instagram{
			&:hover{
				transition: 0.3s ease;
				color: $rosa2
			}
		}
		.fa-facebook-square{
			&:hover{
				transition: 0.3s ease;
				color: $azul;
			}
		}

	}
	.menu-toggle {
		position: absolute;
		padding: 0.8em;
		top: 2em;
		right: .5em;
		cursor: pointer;
		@media(min-width: map-get($grid-breakpoints,lg)){
			display: none;
		}
	}

	.hamburger, .hamburger::before, .hamburger::after {
		content: '';	
		display: block;
		background: #EBEBD3;
		height: 3px;
		width: 2em;
		border-radius: 3px;
		-webkit-transition: all ease-in-out 350ms;
		transition: all ease-in-out 350ms;
	}

	.hamburger::before {
		-webkit-transform: translateY(-7px);
		transform: translateY(-7px);
	}
	
	.hamburger::after {
		-webkit-transform: translateY(4px);
		transform: translateY(4px);
	}

	.open .hamburger {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.open .hamburger::before { display: none; }

	.open .hamburger::after {
		-webkit-transform: translateY(-1px) rotate(-90deg);
		transform: translateY(-1px) rotate(-90deg);
	}
}

.mostrar{
	background: $marrom1;
	padding-top: 20px;
	transition: .6s ease;
	-webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
	.itens-menu{
		ul{
			li{
				a{
					&:hover{
						text-decoration: none;
						border-bottom: 1px solid white;
						transition: 0.6s ease;
					}
				}
			}
		}
	}
}