.slider{
	@media(min-width: map-get($grid-breakpoints,md)){
		
	}
	.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
		background: $marrom1;
	}
	.owl-banner{
		.item{
			height: 360px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			background: $marrombg;
			@media(min-width: map-get($grid-breakpoints,md)){
				height: 500px;
			}
			@media(min-width: map-get($grid-breakpoints,lg)){
				height: 615px;
			}
			.holder{
				position: inherit;
				@media(min-width: map-get($grid-breakpoints,lg)){
					display: inline-block;
					right: 90px;
					bottom: 75px;
					position: absolute;
					text-align: center;
				}
			}
		}
	}

	h2{
		color: white;
		font-size: 35px;
		line-height: 33px;
		font-family: 'Cookie', cursive;
		margin-bottom: 10px;
		@media(min-width: map-get($grid-breakpoints,md)){
			margin-bottom: 25px;		
			font-size: 65px;
			line-height: 70px;
		}
	}
	a{
		color: $marrom1;
		background: white;
		padding: 8px 40px 11px 40px;
		font-family: 'Raleway';
		font-size: 14px;
		text-transform: uppercase;
		border-radius: 29px;
		-webkit-box-shadow: 0px 13px 35px -5px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 13px 35px -5px rgba(0,0,0,0.75);
		box-shadow: 0px 13px 35px -5px rgba(0,0,0,0.75);
		@media(min-width: map-get($grid-breakpoints,md)){
			padding: 10px 70px 13px 70px;
		}
		&:hover{
			background: $marrom1;
			color: white;
			text-decoration: none;
			transition: 0.3s ease;
		}
	}
}

.sobre-norma{
	margin: 25px 0;
	@media(min-width: map-get($grid-breakpoints,md)){
		margin: 45px 0;
	}
	.holder{
		@extend .col-12;
		@media(min-width: map-get($grid-breakpoints,md)){
			@include make-col(5);
		}
	}
	.imagem{
		@extend .col-12;
		background: url('../img/norma-scarpa.jpg') no-repeat right top;
		height: 260px;
		background-size: cover;
		border-radius: 100%;
		@media(min-width: map-get($grid-breakpoints,sm)){
			height: 480px;
		}
		@media(min-width: map-get($grid-breakpoints,md)){
			background-size: cover;
			height: 260px;;
		}
		@media(min-width: map-get($grid-breakpoints,lg)){
			background-size: contain;
			height: 360px;
		}
		@media(min-width: map-get($grid-breakpoints,xl)){
			height: 435px;
		}
	}
	.texto{
		height: 100%;
		text-align: center;
		@media(min-width: map-get($grid-breakpoints,md)){
			@include make-col(7);
			padding: 0 20px;
			align-self: center;
			text-align: left;
		}
		h2{
			font-family: 'Cookie', cursive;
			color: $marrom1;
			text-align: center;
			@media(min-width: map-get($grid-breakpoints,md)){
				font-size: 60px;
				text-align: left;
			}
		}
		p{
			color: $cinza;
			font-family: 'Lato';
		}
		a{
			background: $marrom1;
			color: white;
			font-family: 'Raleway';
			padding: 8px 15px;
			border-radius: 20px;
			font-size: 17px;
			-webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
			box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
			@media(min-width: map-get($grid-breakpoints,md)){
				font-size: 23px;
			}
			&:hover{
				text-decoration: none;
				background: $marrom4;
				transition: 0.3s ease;
			}
		}
	}
}

.conheca-cursos{
	.titulo{
		background: $marrom4;
		color: $marrom1;
		font-family: 'Cookie', cursive;
		@extend .col-12;
		text-align: center;
		font-size: 35px;
		@media(min-width: map-get($grid-breakpoints,md)){
			font-size: 70px;
			padding: 10px 0;
		}
	}
	.item{
		@extend .col-12;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		text-align: center;
		background: $marrom3;
		color: $marrom4;
		padding: 25px 0;
		@media(min-width: map-get($grid-breakpoints,md)){
			@include make-col(6);
			height: 320px;
			padding: 0;
		}
		&:nth-child(even){
			background: $marrom2;
			a{
				&:hover{
					text-decoration: none;
					background: $marrom3;
					color: $marrom4;
					transition: 0.3s ease;
				}
			}
		}
		h3{
			font-family: 'Cookie', cursive;
			@media(min-width: map-get($grid-breakpoints,md)){
				font-size: 50px;
			}
		}
		p{
			font-family: 'Lato';
		}
		a{
			background: $marrom4;
			color: $marrom1;
			font-family: 'Raleway';
			padding: 8px 15px;
			border-radius: 20px;
			font-size: 17px;
			-webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
			box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
			@media(min-width: map-get($grid-breakpoints,md)){
				font-size: 23px;
			}
			&:hover{
				text-decoration: none;
				background: $marrom2;
				color: $marrom4;
				transition: 0.3s ease;
			}
		}
	}
}

.nossos-servicos{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	@media(min-width: map-get($grid-breakpoints,md)){
		margin: 45px 0;
	}
	.titulo{
		@extend .col-12;
		font-family: 'Cookie', cursive;
		color: $marrom1;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 35px;
		@media(min-width: map-get($grid-breakpoints,md)){
			font-size: 60px;
		}
	}
	.holder{
		@extend .col-12;
		padding: 10px;
		padding-bottom: 0;
		margin-bottom: 60px;
		@media(min-width: map-get($grid-breakpoints,md)){
			@include make-col(6);
		}
		.item{
			background: $marrom4;
			height: 150px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;

			.holder-i{
				@extend .col-4;
				display: flex;
				justify-content: flex-end;
				.icone{
					height: 55px;
					width: 55px;
					background: $marrom1;
					border-radius: 50%;
					text-align: center;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
			.info{
				@extend .col-8;
			}
			h3{
				@extend .col-12;
				font-family: 'Cookie', cursive;
				color: $marrom1;
				padding: 0;
				text-align: left;
				@media(min-width: map-get($grid-breakpoints,lg)){
					font-size: 45px;
					line-height: 37px;
				}
			}
			a{
				background: $marrom1;
				color: white;
				font-family: 'Raleway';
				padding: 8px 49px;
				border-radius: 25px;
				font-size: 17px;
				-webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
				box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
				position: absolute;
				bottom: -13px;
				@media(min-width: map-get($grid-breakpoints,lg)){
					font-size: 23px;
				}
				&:hover{
					text-decoration: none;
					background: $marrom2;
					transition: 0.3s ease;
				}
			}
		}
	}
}

.bg-mao{
	background: url('../img/bg-mao.jpg') no-repeat right top;
	background-size: cover;
	height: 200px;
	background-attachment: fixed;
	@media(min-width: map-get($grid-breakpoints,md)){
		height: 400px;
	}
}

.bg-depo{
	background: url('../img/bg-depo.jpg') no-repeat right top;
	background-size: cover;
	padding: 20px 0px;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	.titulo{
		@extend .col-12;
		font-family: 'Cookie', cursive;
		color: $marrom1;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 35px;
		@media(min-width: map-get($grid-breakpoints,md)){
			font-size: 60px;
		}
	}
	.item{
		@media(min-width: map-get($grid-breakpoints,md)){
			padding: 35px;
		}
	}
	.imagem{
		display: none;
		height: 73px;
		width: 73px;
		margin: 0 auto;
		img{
			border-radius: 50%;
		}
	}
	.nome{
		font-family: 'Raleway';
		font-weight: 800;
		color: $marrom1;
		font-style: italic;
		text-align: left;
		@media(min-width: map-get($grid-breakpoints,lg)){
			text-align: right;
		}
	}
	p{
		color: $marrom1;
		font-family: 'Raleway';
		padding-top: 40px;
		font-size: 13px;
		@media(min-width: map-get($grid-breakpoints,md)){
			font-size: 16px;
			padding-top: 20px;
		}
	}
	p:before{
		content: '';
		position: absolute;
		background: url('../img/before-depo.png') center no-repeat;
		width: 23px;
		height: 23px;
		z-index: 2;
		top: 0;
	}
	p:after{
		content: '';
		position: absolute;
		background: url('../img/after-depo.png') center no-repeat;
		width: 23px;
		height: 23px;
		z-index: 2;
		bottom: 0;
		right: 30px;
	}
}

.fb-ig{
	.fb{
		@extend .col-12;
		background: $azul;
		height: 50px;
		color: white;
		font-family: 'Raleway';
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		i{
			margin-right: 15px;
		}
		@media(min-width: map-get($grid-breakpoints,md)){
			@include make-col(6);
		}
	}
	.ig{
		@extend .col-12;
		background: $rosa2;
		height: 50px;
		color: white;
		font-family: 'Raleway';
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		i{
			margin-right: 15px;
		}
		@media(min-width: map-get($grid-breakpoints,md)){
			@include make-col(6);
		}
	}
	a{
		&:hover{
			text-decoration: none;
			opacity: 0.8;
		}
	}
}

.fotos-ig{
	.item{
		@extend .col-3;
		padding: 0;
		img{
			width: 100%;
		}
	}
}