.servicos{
	@extend .col-12;
	margin: 25px 0;
	@media(min-width: map-get($grid-breakpoints,md)){
		margin: 45px 0;
	}
	h2{
		@extend .col-12;
		color: $marrom1;
		font-family: 'Cookie', cursive;
		text-align: center;
		@media(min-width: map-get($grid-breakpoints,md)){
			font-size: 65px;
		}
	}
	.sub{
		@extend .col-12;
		color: $marrom1;
		font-family: 'Raleway';
		text-align: center;
		@media(min-width: map-get($grid-breakpoints,md)){
			margin-bottom: 60px;
		}
	}
	.holder{
		@extend .col-12;
		padding: 8px;
		padding-bottom: 0;
		margin-bottom: 20px;
		text-align: center;
		@media(min-width: map-get($grid-breakpoints,md)){
			@include make-col(6);
		}
		.item{
			@extend .col-12;
			background: $rosa;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			text-align: center;
			-webkit-box-shadow: 2px 1px 10px -1px rgba(153,151,153,1);
			-moz-box-shadow: 2px 1px 10px -1px rgba(153,151,153,1);
			box-shadow: 2px 1px 10px -1px rgba(153,151,153,1);
			height: 200px;
			padding: 10px 30px 30px 30px;
			@media(min-width: map-get($grid-breakpoints,md)){
				padding: 35px 30px 30px 30px;
			}
			h3{
				@extend .col-12;
				color: $marrom1;
				font-family: 'Cookie', cursive;
				text-align: center;
				font-size: 30px;
				line-height: 25px;
				@media(min-width: map-get($grid-breakpoints,md)){
					font-size: 45px;
				}

			}
			.desc{
				color: $marrom1;
				font-family: 'Cookie', cursive;
				text-align: center;
				font-size: 19px;
				@media(min-width: map-get($grid-breakpoints,md)){
					font-size: 22px;
					line-height: 19px;
				}
			}

		}
		a{
			background:$marrom1;
			color: $rosa;
			font-family: 'Raleway';
			padding: 5px 40px;
			border-radius: 29px;
			font-size: 18px;
			position: relative;
			bottom: 15px;
			@media(min-width: map-get($grid-breakpoints,md)){
				font-size: 21px;
			}
			&:hover{
				transition: 0.3s ease;
				text-decoration: none;
				color: $rosa;
				background: $marrom3;
			}
		}
	}
}