.single-servicos{
	margin: 25px 0;
	@media(min-width: map-get($grid-breakpoints,md)){
		margin: 45px 0;
	}
	.texto{
		@extend .col-12;
		word-break: break-word;
		padding: 25px 0;
		text-align: center;
		@media(min-width: map-get($grid-breakpoints,md)){
			@include make-col(5);
			padding: 45px 0;
		}
		h2{
			@extend .col-12;
			font-family: 'Cookie', cursive;
			color: $marrom1;
			text-align: center;
			@media(min-width: map-get($grid-breakpoints,md)){
				font-size: 60px;
			}
		}
		.descricao{
			@extend .col-12;
			color: $marrom1;
			text-align: center;
			font-family: 'Raleway';
			margin-bottom: 20px;
			@media(min-width: map-get($grid-breakpoints,md)){
				font-size: 18px;
			}
		}
		.corpo{
			@extend .col-12;
			color: $cinza;
			text-align: left;
			font-family: 'Lato';
		}
	}
	a{
		background: $marrom1;
		color: $marrom4;
		border-radius: 29px;
		padding: 10px 18px;
		font-family: 'Raleway';
		
		&:hover{
			text-decoration: none;
			background: $marrom3;
			color: $marrom4;
			transition: 0.3s ease;
		}
	}
	.galeria{
		@extend .col-12;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		.owl-dots{
			display: block;
		}
		.owl-item{
			display: flex;
			justify-content: center;
			img{
				border-radius: 15px;
				width: auto;
				height: 285px;
				@media(min-width: map-get($grid-breakpoints,md)){
					height: 410px;
				}
				@media(min-width: map-get($grid-breakpoints,lg)){
					height: 500px;
				}
			}
		}
		@media(min-width: map-get($grid-breakpoints,md)){
			@include make-col(7);
		}
	}
}

.on-pres{
	@extend .col-12;
	background: $rosa;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	padding: 20px 0;
	@media(min-width: map-get($grid-breakpoints,md)){
		padding: 50px 0;
	}
	.titulo{
		color: $marrom1;
		font-family: 'Cookie', cursive;
		font-size: 35px;
		@media(min-width: map-get($grid-breakpoints,md)){
			font-size: 55px;
			line-height: 40px;
		}
	}
	.desc{
		color: $marrom1;
		font-family: 'Cookie', cursive;
		font-size: 25px;
		@media(min-width: map-get($grid-breakpoints,md)){
			font-size: 45px;
		}
	}
	a{
		background:$marrom1;
		color: $rosa;
		font-family: 'Raleway';
		padding: 9px 18px;
		border-radius: 29px;
		font-size: 18px;
		-webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
		box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
		&:hover{
			transition: 0.3s ease;
			text-decoration: none;
			color: $marrom1;
			background: $marrom4;
		}
	}
}