.video-single{
	@extend .col-12;
	background: url('../img/bg-cursos.jpg') no-repeat right top;
	height: 770px;
	background-size: cover;
	text-align: center;	
	padding-top: 90px;
	@media(min-width: map-get($grid-breakpoints,md)){
		padding-top: 80px;
		height: 905px;
	}
	.logo{
		@extend .col-12;
	}
	.video{
		@extend .col-12;
		margin: 15px 0;
		@media(min-width: map-get($grid-breakpoints,md)){
			padding: 60px 0;
		}
		iframe{

		}
	}
	a{
		background: $marrom1;
		color: $rosa3;
		font-family: 'Raleway';
		padding: 4px 18px;
		border-radius: 20px;
		-webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
		box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
		position: relative;
		@media(min-width: map-get($grid-breakpoints,md)){
			padding: 8px 80px;
			font-weight: bold;
			font-size: 21px;
		}
		i{
			padding-left: 25px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
		.fa-shopping-cart{
			opacity: 0;
		}
		&:hover{
			text-decoration: none;
			transition: 0.3s ease;
			background: $marrom4;
			color: $marrom2;
			.fa-shopping-cart{
				opacity: 1;
			}
			.fa-angle-right{
				opacity: 0;
			}
		}
	}

}

.modulos{
	padding: 25px 0;
	@media(min-width: map-get($grid-breakpoints,md)){
		padding: 60px 0;
	}
	.foto{
		@extend .col-12;
		@media(min-width: map-get($grid-breakpoints,md)){
			@include make-col(5);
		}
	}
	.texto{
		@extend .col-12;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		@media(min-width: map-get($grid-breakpoints,md)){
			@include make-col(7);
		}
		h2{
			font-family: 'Cookie', cursive;
			color: $marrom1;
			text-align: center;
			@media(min-width: map-get($grid-breakpoints,md)){
				font-size: 80px;
				line-height: 68px;
				text-align: left; 
			}
		}
		p{
			font-family: 'Lato';
			color: $cinza;
			text-align: justify;
			margin: 0;
			@media(min-width: map-get($grid-breakpoints,md)){
				text-align: left;
			}
		}
	}
	.holder{
		@extend .col-12;
		margin-top: 55px;
		@media(min-width: map-get($grid-breakpoints,md)){
			@include make-col(4);
			padding-left: 2px;
			margin-top: 80px;
		}
		.item{
			background: $marrom4;
			height: 200px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			text-align: center;
			.bolinha{
				height: 60px;
				width: 60px;
				background: $marrom3;
				border-radius: 50%;
				position: absolute;
				top: -30px;
			}
			h3{
				@extend .col-12;
				color: $marrom3;
				font-family: 'Cookie', cursive;
				@media(min-width: map-get($grid-breakpoints,md)){
					font-size: 40px;
				}
			}
		}
	}
}

.divisor{
	@extend .col-12;
	height: 350px;
	background: $marrom3;
}

.comentario{
	padding: 25px 0;
	@media(min-width: map-get($grid-breakpoints,md)){
		padding: 0;
	}
	.titulo{
		@extend .col-12;
		color: $marrom3;
		font-family: 'Cookie', cursive;
		text-align: center;
		font-size: 35px;
		line-height: 30px;
		@media(min-width: map-get($grid-breakpoints,md)){
			font-size: 70px;
			margin: 35px 0;
		}

	}
	.holder{
		@extend .col-12;
		padding: 5px;
		@media(min-width: map-get($grid-breakpoints,md)){
			@include make-col(4);
			margin-bottom: 20px;
		}
	}
	p{
		margin-top: 15px;
		font-family: 'Raleway';
		color: $cinza;
	}
	.nome{
		font-family: 'Raleway';
		color: $marrom3;
		font-weight: bold;
		text-align: right;
	}
}

.material{
	text-align: center;
	@media(min-width: map-get($grid-breakpoints,md)){
		margin-bottom: 50px;
	}
	.titulo{
		@extend .col-12;
		color: $marrom3;
		font-family: 'Cookie', cursive;
		text-align: center;
		font-size: 35px;
		@media(min-width: map-get($grid-breakpoints,md)){
			font-size: 70px;
			margin: 60px 0 0 0;
		}

	}
	.sub-t{
		@extend .col-12;
		font-family: 'Raleway';
		font-weight: lighter;
		color: $marrom3;
		text-align: center;
		@media(min-width: map-get($grid-breakpoints,md)){
			font-size: 25px;
			margin-bottom: 25px;
		}
	}
	.holder{
		padding: 15px;
		@extend .col-12;
		@media(min-width: map-get($grid-breakpoints,md)){
			@include make-col(4);
			margin-bottom: 25px;
		}
		.item{
			.foto{
				height: 260px;
				background: $cinza;
			}
			.desc{
				-webkit-box-shadow: 6px 6px 5px 0px rgba(209,209,209,1);
				-moz-box-shadow: 6px 6px 5px 0px rgba(209,209,209,1);
				box-shadow: 6px 6px 5px 0px rgba(209,209,209,1);
				height: 160px;
				font-family: 'Raleway';
				font-weight: 700;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				color: $marrom3;
			}
		}
	}
	.botao{
		background: $marrom1;
		color: $rosa3;
		font-family: 'Raleway';
		padding: 4px 18px;
		border-radius: 20px;
		-webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
		box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
		@media(min-width: map-get($grid-breakpoints,md)){
			padding: 8px 80px;
			font-weight: bold;
			font-size: 21px;
			margin: 30px 0;
		}
		i{
			padding-left: 25px;
		}
		&:hover{
			text-decoration: none;
			transition: 0.3s ease;
			background: $marrom4;
			color: $marrom2;
		}
	}
}