.sobre{
	padding: 25px 0;
	text-align: center;
	@media(min-width: map-get($grid-breakpoints,md)){
		padding: 50px 0;
	}
	.titulo{
		font-size: 35px;
	}
	.titulo, .sub-t{
		@extend .col-12;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
		align-items: center;
		font-family: 'Cookie', cursive;
		color: $marrom1;
		@media(min-width: map-get($grid-breakpoints,md)){
			font-size: 65px;
		}
	}
	.sub-t{
		font-family: 'Raleway';
		font-weight: lighter;
		margin-bottom: 25px;
		@media(min-width: map-get($grid-breakpoints,md)){
			font-size: 25px;
			margin-bottom: 45px;
		}
	}
	iframe{
		@extend .col-9;
	}
	p{
		width: 100%;
		color: $cinza;
		text-align: justify;
	}
	h6{
		color: $marrom1;
		font-family: 'Cookie', cursive;
		text-align: center;
		font-size: 40px;
		@media(min-width: map-get($grid-breakpoints,md)){
			font-size: 60px;
			line-height: 50px;
		}
	}
	.video{
		padding-bottom: 25px;
		@media(min-width: map-get($grid-breakpoints,md)){
			padding-bottom: 45px;
		}
	}
	.item{
		@extend .col-12;
		display: flex;
		flex-wrap: wrap;
		@media(min-width: map-get($grid-breakpoints,md)){
			@include make-col(6);
		}
	}
}