@import "../components/bootstrap/scss/bootstrap";

$marrom1: #573b2b;
$marrom2: #623c25;
$marrom3: #402a1d;
$marrom4: #d8c7b7;
$marrombg: #4a3225;
$rosa: #e5d7cc;
$rosa3: #d7c6b6;
$cinza: #818181;
$rosa2: #b31b84;
$azul: #475993;
$verde: #3cc207;

@font-face {
    font-family: Colus;
    src: url(../fonts/Colus-Regular.otf);
}

@font-face {
    font-family: LatoBlack;
    src: url(../fonts/Lato-Black.ttf);
}

@font-face {
    font-family: LatoBlackItalic;
    src: url(../fonts/Lato-BlackItalic.ttf);
}

@font-face {
    font-family: LatoBold;
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: LatoBoldItalic;
    src: url(../fonts/Lato-BoldItalic.ttf);
}

@font-face {
    font-family: LatoHairline;
    src: url(../fonts/Lato-Hairline.ttf);
}

@font-face {
    font-family: LatoHairlineItalic;
    src: url(../fonts/Lato-HairlineItalic.ttf);
}

@font-face {
    font-family: LatoItalic;
    src: url(../fonts/Lato-Italic.ttf);
}

@font-face {
    font-family: LatoLight;
    src: url(../fonts/Lato-Light.ttf);
}

@font-face {
    font-family: LatoLightItalic;
    src: url(../fonts/Lato-LightItalic.ttf);
}

@font-face {
    font-family: LatoRegular;
    src: url(../fonts/Lato-Regular.ttf);
}

@mixin anima-slow {
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -khtml-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
} 

@mixin anima-normal {
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -khtml-transition: all 0.2s linear; 
    -webkit-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

@mixin anima-fast {
    -o-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -khtml-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
}
::-webkit-scrollbar-thumb {
    background-color: #9e9e9e;
    border-radius: 6px;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
	background-color: $marrom1; 
}

.logo_text{
    position: absolute;
    left: -99px;
    top: -99px;
    text-indent: -9999px;
}

body, p, h1, h2, h3, ul, li, a {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

header{
    position: relative;
}

.invisivel{
    display: none;
    opacity: 0;
}

//Footer
@import 'footer';

//Header
@import 'header';

//Início
@import 'inicio';

//Sobre
@import 'sobre';

//Single Serviços
@import 'single-servico';

//Serviços
@import 'servicos';

//404
@import '404';

//Single Cursos
@import 'single-cursos';

//Animate
@import 'animate';

//Contato
@import 'contato';

.bubble{
    &:hover{
        outline: 0;
        -ms-transform: scale(2, 3);
        -webkit-transform: scale(2, 3);
        transform: scale(1.125);
        transition: all .2s ease;
        -webkit-transition: all .2s ease;
        -o-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
    }
}

.header{
    height: 360px;
    display: flex;
    align-items: center;
    @media(min-width: map-get($grid-breakpoints,md)){
        height: 500px;
    }
    @media(min-width: map-get($grid-breakpoints,lg)){
        height: 900px;
    }
    .titulo{
        position: relative;
        h2{
            color: white;
            font-size: 20px;
            line-height: 30px;
            font-family: 'LatoRegular';
            margin-bottom: 10px;
            text-transform: uppercase;
            b{
                font-size: 25px;
                font-weight: normal;
                font-family: 'Colus';
            }
            @media(min-width: map-get($grid-breakpoints,md)){
                margin-bottom: 25px;
                font-size: 28px;
                line-height: 40px;
                b{
                    font-size: 40px;
                }
            }
        }
        h2:after{
            content: "";
            position: absolute;
            width: 100px;
            height: 1px;
            transform: translateX(-50%);
            left: 51px;
            bottom: -17px;
            border-bottom: 3px solid $marrom1;
        }
    }
    a{
        color: $marrom1;
        background: white;
        padding: 8px 40px 11px 40px;
        font-family: 'Colus';
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 29px;
        -webkit-box-shadow: 0px 13px 35px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 13px 35px -5px rgba(0,0,0,0.75);
        box-shadow: 0px 13px 35px -5px rgba(0,0,0,0.75);
        @media(min-width: map-get($grid-breakpoints,md)){
            padding: 10px 70px 13px 70px;
        }
    }
}

.paginacao{
    @extend .col-12;
    margin-top: 10px;
    .current{
        padding: 5px;
        background: $marrom1;
        border-radius: 5px;
        color: white;
    }
    .page{

        color: $marrom1;
        padding: 5px;
        &:hover{
            background: $marrom1;
            color: white;
            text-decoration: none;
        }

    }
    .nextpostslink{
        color: $marrom1;
        margin: 0 2px;
        &:hover{
            text-decoration: none;
            border-radius: 5px;
        }

    }
}